	* {
				font-family: Palitino;
				color: white;
				text-align: center;}
			body {
               background-image: url("/assets/images/m_1.jpeg");
               background-repeat: no-repeat;
               background-size: cover;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: clear;
				padding: 0.5em 0;}
			#feature{
				height: 20em;
				margin-bottom: 1em;
			.article {height:10em}
				background-color: clear;}
			#intro{color:white;
                   text-shadow: -4px 2px 1px gray;
                   font-family: Palitino}
            .headline{font-size:20px;
            		  text-shadow:-4px 2px 1px gray;}